@import url('https://fonts.googleapis.com/css?family=Roboto');

$whiteColor: #fffeff;
$blackColor: #0b090a;
$goldColor: #aeaa00;
$grayColor: #302f2f;
$lightGrayColor: #aaa;
$shadowColor: #222;

body {
  background-color: #121217;
  font-family: "Roboto", sans-serif;
  color: $whiteColor;
}

.navbar {
  height: 660px;
  width: 60px;
  position: fixed;
  top: 70px;
  left: 140px;
  background-color: $grayColor;
  box-shadow: 5px 5px 5px $shadowColor;
}

.navbar ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.navbar li {
  list-style-type: none;
  display: inline-block;
}

.navbar a {
  padding: 10px;
  text-decoration: none;
  font-size: 35px;
  color: $goldColor;
  display: block;
  transition: transform 0.2s;
}

.navbar a:hover {
  color: $blackColor;
  transform: scale(1.2);
}

.navbar .active-link {
  color: $whiteColor;
}

.navbar-flags {
  position: fixed;
  width: 60px;
  top: 620px;
  left: 140px;
}

.navbar-flags input {
  padding: 5px;
  width: 30px;
  height: 20px;
  transition: transform 0.2s;
  outline: none;
}

.navbar-flags input:hover {
  transform: scale(1.5);
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: $blackColor;
  color: $goldColor;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 12px;
  right: 100%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent $blackColor;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.left-side {
  height: 700px;
  width: 450px;
  position: fixed;
  top: 50px;
  left: 200px;
  box-shadow: 5px 5px 5px $shadowColor;
  background-color: $grayColor;
}

.left-side img {
  position: absolute;
  height: 100%;
  width: 450px;
}

.left-side h1 {
  position: relative;
  text-align: center;
  margin: 0;
  padding-top: 15px;
}

.left-side p {
  position: relative;
  text-align: center;
  margin: 0;
  color: $goldColor;
}

.right-side {
  height: 660px;
  width: 650px;
  position: fixed;
  top: 70px;
  left: 650px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: $grayColor;
  box-shadow: 5px 5px 15px $shadowColor;
  /* animation-name: slidein; */
  /* animation-duration: 2s; */
}

/* @keyframes slidein {
  0%   {width: 630px; opacity: 0.5;}
  50%  {width: 0px; opacity: 0.5;}
  100% {width: 630px; opacity: 0.5;}
} */

.right-side h3 {
  margin: 10px;
  text-align: center;
  color: $goldColor;
}

.right-side li {
  list-style-type: none;
}

.right-side hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
  margin: 20px;
}

.main-contain {
  margin: 35px 20px;
  text-align: center;
  border: 1px solid $shadowColor;
  position: relative;
  box-shadow: 5px 5px 5px $shadowColor;
  padding: 15px;
}

.border-label{
  font-size: 26px;
  font-variant: all-petite-caps;
  position: absolute;
  background: $grayColor;
  color: $lightGrayColor;
  padding: 0 10px;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.about-me ul {
  display: grid;
  grid-template-columns: 50% auto;
  grid-gap: 10px;
  text-align: left;
  margin-top: 5px;
  padding: 0 2%;
}

.about-me a {
  text-decoration: none;
  color: $whiteColor;
}

.about-me a:hover {
  color: $goldColor;
}

.about-me-icons {
  color: $goldColor;
  font-size: 25px;
  vertical-align: middle;
}

.about-me p {
  font-size: 16px;
  padding: 0 2%;
  text-align: justify;
  margin-bottom: 0;
  line-height: 1.6;
}

.skills-container {
  display: grid;
  grid-template: 115px 115px 115px / 50% auto;
  grid-gap: 10px;
}

.skills-container img {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
}

.skills-container > div {
  text-align: center;
  padding: 0 20px;
  border: 1px solid $blackColor;
  box-shadow: 0px 0px 5px $blackColor;
}

.skills-bar {
  width: 100%;
  margin: auto;
  background-color: $lightGrayColor;
  border-radius: 15px;
}

.skills {
  box-sizing: border-box;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
}

.html {width: 90%; background-color: $blackColor;}
.css {width: 80%; background-color: $blackColor;}
.js {width: 60%; background-color: $blackColor;}
.react {width: 60%; background-color: $blackColor;}
.git {width: 70%; background-color: $blackColor;}
.github {width: 70%; background-color: $blackColor;}

.experience-span p {
  padding-left: 5%;
  padding-right: 5%;
  text-align: left;
}

.experience-hp {
  text-align: left;
  margin: 0;
  padding-left: 5%;
  padding-right: 5%;
}

.experience-p p {
  text-align: left;
  margin: 0;
  padding-left: 10%;
  padding-right: 10%;
}

.experience img {
  width: 80%;
  transition: transform 0.2s;
  box-shadow: 0px 0px 20px $blackColor;
  margin-top: 10px;
  margin-bottom: 10px;
}

.experience img:hover {
  transform: scale(1.2);
}

.experience.collapsed{
  overflow: hidden;
}

.experience.expanded{
  overflow: visible;
  height: auto;
}

.languages-container {
  display: flex;
}

.languages-container li {
  padding: 10px;
  width: 100px;
  text-align: left;
}

.languages-bar {
  width: 100%;
  margin: auto;
  background-color: $lightGrayColor;
  border-radius: 15px;
}

.languages {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
}

.croatian {width: 100%; background-color: $blackColor;}
.german {width: 80%; background-color: $blackColor;}
.english {width: 60%; background-color: $blackColor;}

.hobbies ul {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  font-size: 25px;
  padding: 0;
  margin: 0;
}

.hobbies li {
  color: $goldColor;
  padding: 10px;
}

.projects-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}

.project-one {
  grid-column: 1 / 3;
}

.projects-container div {
  border: 1px solid $blackColor;
  box-shadow: 0px 0px 5px $blackColor;
}

.projects-container img {
  width: 90%;
  height: 350px;
  border: 1px solid $blackColor;
  box-shadow: 0px 0px 5px $blackColor;
}

.projects-container a {
  text-decoration: none;
  color: $whiteColor;
  display: block;
  margin: 5px;
}

.projects-container a:hover {
  color: $goldColor;
}

.projects-container p {
  color: $lightGrayColor;
  margin: 10px;
}

.certificate-container img {
  width: 80%;
  transition: transform 0.2s;
  box-shadow: 0px 0px 20px $blackColor;
}

.certificate-container img:hover {
  transform: scale(1.2);
}

.contactme-inner {
  padding: 100px 120px;
}

.contactme-inner h3 {
  font-size: 25px;
  color: $whiteColor;
}

.contactme-form-group {
  position: relative;
  display: block;
  margin-bottom: 50px;
}

.contactme-form-group span {
  color: $goldColor;
  position: absolute;
  top: 10px;
  transition: all 0.2s ease;
  transform-origin: 0 0;
  cursor: text;
}

.contactme-form-control {
  border: none;
  outline: none;
  border-bottom: 2px solid $blackColor;
  color: $whiteColor;
  display: block;
  width: 100%;
  height: 40px;
  font-size: 18px;
  background: none;
}

.contactme-form-control:focus + span,
.contactme-form-control:valid + span {
  transform: translateY(-22px) scale(0.8);
}

.contactme-form-control:focus + span + .border,
.contactme-form-control:valid + span + .border {
  transform: scaleX(1);
}

.contactme-button {
  width: 150px;
  height: 50px;
  border: 2px solid $goldColor;
  margin: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  color: $whiteColor;
  transform: perspective(1px) translateZ(0);
}

.contactme-button:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $goldColor;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.contactme-button:hover {
  border-color: transparent;
}

.contactme-button:hover:before {
  transform: scaleX(1);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .navbar {
    height: 500px;
    width: 60px;
    position: fixed;
    left: 50px;
  }
  .navbar-flags {
    width: 60px;
    position: fixed;
    top: 465px;
    left: 50px;
  }
  .tooltiptext {display: none;}
  .left-side {display: none}
  .right-side {
    height: 500px;
    width: 300px;
    left: 115px;
  }
  .right-side h1 {
    font-size: 25px;
    margin: 10px;
  }
  .right-side h3 {
    font-size: 16px;
    margin: 10px;
  }
  .right-side hr {margin: 10px;}
  .main-contain {
    margin: 20px;
    text-align: center;
    border: 1px solid $shadowColor;
    position: relative;
    box-shadow: 5px 5px 5px $shadowColor;
    padding: 0;
  }
  .border-label {
    font-size: 20px;
    font-variant: all-petite-caps;
    position: absolute;
    background: $grayColor;
    color: $lightGrayColor;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
  }
  .about-me ul {
    display: inline-block;
    margin: 0;
    padding: 10px;
  }
  .about-me li {
    padding: 2% 0;
  }
  .about-me p {
    font-size: 16px;
    padding: 0 5%;
    margin: 0;
    padding-bottom: 10px;
    text-align: center;
  }
  .languages-container {
    display: flex;
    padding: 0 5%;
  }
  .hobbies ul {
    grid-template-columns: auto auto auto auto;
    font-size: 20px;
    grid-gap: 5px;
    padding: 10px;  

  }
  .skills-container {
    grid-template: 115px 115px 115px 115px 115px / auto;
    margin: 10px;
  }
  .projects-container {
    grid-template-columns: auto;
    margin: 10px;
  }
  br {display: none;}
  .projects-container img {
    height: 300px;
  }
  .projects-container p {
    margin: 5px;
  }
  .contactme-form-group{
    margin-bottom: 20px;
  }
  .contactme-form-control {
    font-size: 14px;
  }
  .contactme-inner {
    padding: 70px 60px;
  }
  .contactme-inner h3 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .contactme-button {
    width: 100px;
    height: 40px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .navbar {
    height: 650px;
    width: 60px;
    position: fixed;
    top: 70px;
    left: 50px;
  }
  .navbar-flags {
    width: 60px;
    position: fixed;
    top: 620px;
    left: 50px;
  }
  .tooltiptext {display: none;}
  .left-side {display: none}
  .right-side {
    height: 650px;
    width: 530px;
    top: 70px;
    left: 115px;
  }
  .right-side h1 {
    font-size: 25px;
    margin: 10px;
  }
  .right-side h3 {
    font-size: 16px;
    margin: 10px;
  }
  .right-side hr {margin: 10px;}
  .main-contain {
    margin: 30px;
    text-align: center;
    border: 1px solid $shadowColor;
    position: relative;
    box-shadow: 5px 5px 5px $shadowColor;
    padding: 0;
  }
  .border-label {
    font-size: 22px;
    font-variant: all-petite-caps;
    position: absolute;
    background: $grayColor;
    color: $lightGrayColor;
    top: -17px;
    left: 50%;
    transform: translateX(-50%);
  }
  .about-me ul {
    grid-template-columns: 40% auto;
    margin: 15px;
  }
  .about-me p {
    font-size: 18px;
    padding: 0 5%;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  .languages-container {
    display: flex;
    padding: 0 5%;
  }
  .hobbies ul {
    font-size: 22px;
    padding: 8px;  
  }
  .hobbies li {
    width: 50%;
    margin: auto;
  }
  .skills-container {
    grid-template: 115px 115px 115px / auto auto;
    margin: 10px;
  }
  .projects-container {
    margin: 10px;
  }
  .projects-container img {
    height: 250px;
  }
  .projects-container p {
    margin: 5px;
  }
  .contactme-inner {
    padding: 80px 100px;
  }
}
